@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-bg text-dark-text font-poppins;
  }
  input[type='radio'] {
    @apply accent-brand-color;
  }
}
